body, html {
    height: 100%;
    background: #222222;
}

.haut {
    display: flex;
    background: linear-gradient(180deg, #414345 0%, #232526 100%);
    border-radius: 1px;
    margin-top: 20px;
}

#essaieTxt, #countEssaie, #tempsTxt, #timer, #cliqueTxt, #cliqueCount {
    color: white;
    display: flex;
    justify-content: center;
    font: 400 1em/2em "Poppins", sans-serif;
}

#countEssaie, #timer, #cliqueCount {
    font: 600 1em/2em "Poppins", sans-serif;
}

#minuteur {
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
}

.container-drapeau {
    display: flex;
    margin-top: 100px;
}

.drapeau {
    width: 200px;
    height: 300px;
}

#drapeauF1{
    
}

#drapeauF2{
    
}

#drapeauF3{
    
}


.bas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
<<<<<<< HEAD
    background: linear-gradient(135deg, #414345 0%, #232526 100%);
=======
    margin-bottom: 50px;
>>>>>>> fdbcfbb9f4c25c290441171dea66e88991cc592f
}

.button {
    display: flex;
    justify-content: center;
}


.blanc{
    background-color:white;
}
.rouge{
    background-color: #EF4135;
}
.bleu{
    background-color: #0055A4;
}
.noir{
    background-color: black;
}
.jaune{
    background-color: #FDDA24;
}